.wrapper {
  max-width: 640px;
  position: relative;
  width: 100%;
}

.input {
  background: var(--color-light);
  border-radius: 12px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--color-primary);
  font-family: inherit;
  font-size: 16px;
  line-height: 1em;
  padding: 12px 48px 12px 48px;
  width: 100%;

  &::placeholder {
    color: var(--color-darker);
    font-size: inherit;
  }
}

.icon {
  border-radius: 50%;
  cursor: pointer;
  fill: var(--color-darker);
  height: 24px;
  padding: 6px;
  position: absolute;
  top: 3px;
  transition: fill .2s, background .2s;
  width: 24px;

  &:hover {
    fill: var(--color-primary);
  }

  &:active,
  &:focus {
    background: var(--color-accent-light);
    fill: var(--color-accent);
  }
}

.searchIcon {
  left: 6px;
}

.clearIcon {
  right: 6px;
}

@media (max-width: 776px) {

  .wrapper {
    max-width: none;
  }

  .input {
    max-width: none;
  }
}
