.switch {
  align-items: center;
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  position: relative;

  &:hover > .slider:before {
    opacity: .12;
  }
}

.text {
  display: block;
  margin-right: 40px;
}

.input { 
  display: none;

  &:checked + .slider {
    background: var(--color-accent);
  }
  
  &:focus + .slider:before {
    opacity: .12;
  }
  
  &:checked + .slider:before,
  &:checked + .slider:after {
    background: linear-gradient(--color-lighter);
  }

  &:checked + .slider:before,
  &:checked + .slider:after {
    transform: translate(14px, -50%);
  }
}

.slider {
  background: var(--color-border);
  border-radius: 9px;
  cursor: pointer;
  height: 18px;
  position: relative;
  transition: transform .2s ease;
  width: 36px;

  &:before,
  &:after {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s ease,
      background .2s ease,
      opacity .2s ease;
  }

  &:before {
    background: var(--color-primary);
    height: 36px;
    left: -7px;
    opacity: 0;
    width: 36px;
  }

  &:after {
    background: var(--color-lighter);
    border: 1px solid var(--color-border);
    height: 20px;
    left: 0;
    width: 20px;
  }
}